{% load extra_templates %}
<!--This tag is like an import to load any user-defined
templates located on the directory 'GetHired/templatetags/extra_templates.py'-->
	
	{% for p in posts %}
		<div>
		{{p.job_title}}
		{{p.company}}
		{{p.location}}
		{{p.date_posted}}
		{{p.interview_rating}}
		{{p.job_type}}	
		
        {% with p|class_name as classname %} 
        {% if classname == "Interview" %}
		    {{p.interview_process}}
	    {% else %}
            {{p.salary}} 
        {% endif %}
        {% endwith %}
        </div>
	{% endfor %}

