{% extends "portal/base.html" %}
{% load extra_templates %}
{% block title %} Get Hired {% endblock %}

{% block content %}
	{% for p in posts %}	
		<a class = 'postLink' href='{{p.url_slug}}' style="text-decoration: none;">
		<div class='post_list_div'>
			{% with p|classname as classname %}
			{% if classname == "Interview" %}
			<h3> Interview </h3>
			
			{% else %}
			<h3> Offer </h3>
			
			{% endif %}
			{% endwith %}
			
			<span>{{p.job_title}}</span><br>
			<span>{{p.company}}</span><br>
			<span>{{p.job_type}}</span><br>	
		</div>
		</a>
	{% endfor %}
{% endblock %}

