{% load static %}
{% load extra_templates %}
{% load dajaxice_templatetags %}
<!doctype html>
<html>
<head>

{% dajaxice_js_import %}
<script src="http://code.jquery.com/jquery-2.1.0.min.js"></script>
<script src="{% static "/static/js/main-ajax.js" %}"></script>
<script src="{% static "/static/js/dajax.js" %}"></script>

<title>Get Hired</title>
</head>

<body>
	<div id ="content">
	{% for p in posts %}	
		<a class = 'postLink' href='{{p.id}}' style="text-decoration: none;">
		<div class='post_list_div'>
			{% with p|classname as model_class %}
			{% if classname == "Interview" %}
			<h3> Interview </h3>
			
			{% else %}
			<h3> Offer </h3>
			
			{% endif %}
			{% endwith %}
			
			<span>{{p.job_title}}</span><br>
			<span>{{p.company}}</span><br>
			<span>{{p.job_type}}</span><br>	
		</div>
		</a>
	{% endfor %}
	</div>
</body>
</html>
