{% extends "portal/base.html" %}
{% load extra_templates %}
{% load humanize %}
{% block title %} Get Hired {% endblock %}
{% block header %} Get Hired {% endblock %}

{% block filter_menu %}
	<h5><span class='labs'> Related Posts: </span></h5>
	{% for post in related_posts %}
        <a class="postLinks" href="{% url 'get_post' post_type=post.post_type post_id=post.pk %}">{{post.get_job_title_display}}</a><br>
	{% endfor %}
{% endblock %}
    
{% block content %}
	<script>
		$(document).ready(function(){
			$(document).scrollTop( $("div.navrow").offset().top );   
		});
	</script>
<div class="postview col-md-12">
	<div class="container-fluid">
		<div class="postview-button-row row">
			<span class="glyphicon glyphicon-arrow-left pull-left"></span>
			<input type="button" onclick="history.back();" name="submit" class="btn btn-danger pull-left btn-info" value="Go Back" />
			<a href="{% url 'render_edit_post' post_type=post.post_type post_id=post.pk %}">
   			 <input type="button" class="btn btn-danger pull-right btn-info" value="Edit/Delete Post" />
			</a>
		</div> <!-- Button Row -->
	</div>
	<div class="container-fluid">
		<div class="row">
    		<div class="title col-md-12">
    			<div class="row">
    				<h3 class="title"><a href="/gethired/company/{{post.company}}">{{post.company}}</a></h3>
    				{% if post.post_type == "Interview" %}
                    <span class="postview-label label label-success">{{post.post_type}}</span>
               		{% else %}
                    <span class="postview-label label label-warning">{{post.post_type}}</span>
               		{% endif %}
    				<span class="date">Posted: {{post.date_posted|naturalday|title}}</span>
				</div>
				<div class="row postview-jobinfo">
					<div class="container-fluid">
						<div class="row">
							<span class="job_title lab">Job Title: <span class="content">{{post.get_job_title_display}}</span></span>
				   			{% if post.post_type == "Interview" %} 
    						{% else %}
    						<span class="salary content"> ${{post.salary|intcomma}}{% if post.get_pay_type_display == "Yearly Salary" %}/yr{% endif %}</span>
    						{% endif %}
						</div>
						<div class="row">
							<span class="job_type lab">Job Type: <span class="content">{{post.get_job_type_display}}</span></span>
							 {% if post.post_type == "Interview" %}  
							<span class="rating">Interview Rating: {{post.interview_rating}}</span>
							{% endif %}
						</div>
						<div class="row postview-about-row">
							<span>Location: {{post.location}}</span>
							<span class="applicant_degree">Applicant Degree: {{post.applicant_degree}}</span>
							<span class="offer_status">Offer Status:{{post.get_offer_status_display}}</span>
						</div>
					</div>
				</div>
			</div>
		</div><!-- Title Row -->
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-12">
    				{% if post.post_type == "Interview" %}
    				<label>Details:</label>   
    				<p class="process">{{post.interview_process}}</p>
    				<label>Questions Asked:</label>   
    				<p class="questions">{{post.questions_asked}}</p>
    				{% if post.offer_details %} <!--if offer received-->
    				<p class="offer_details"><a href={{post.offer_details.url_slug}}>Offer</a></p>
    				{% endif %}
    
    				{% else %}
    				<div class="row postview-salary-block-row">
    					<div class="postview-salary-blocks">
    						<label>Salary:</label>
							<p class="salary">${{post.salary|intcomma}}{% if post.get_pay_type_display == "Yearly Salary" %}/yr{% endif %}</p>
						</div>
						<div class="postview-salary-blocks">
							<label>Signing Bonus:</label>
    						<p class="bonus">${{post.signing_bonus|intcomma}}</p>
    					</div>
    					<div class="postview-salary-blocks">
    						<label>Relocation:</label>
    						<p class="relocation">${{post.relocation_bonus|intcomma}}</p>
    					</div>
    				</div>
    				<div class="row">
    				<label>Status:</label>
    				<p class="status">{{post.get_offer_status_display}}</p>
    				{% if post.other_details %}
    				<label>Details:</label>
    				<p class="details">{{post.other_details}}</p>
   		 			</div>
   		 			{% endif %}

   		 			{% endif %}
    			</div>
    		</div>
		</div>
		<div class="postview-report-rate row">
    		<div class="content">
    			<p>Report this post</p>
    			<p>Rate this post</p>
    		</div>
    	</div>
	</div>
</div>
{% endblock %}


