{% extends "portal/base.html" %}
{% load extra_templates %}
{% block title %} Get Hired {% endblock %}
{% block header %} Get Hired {% endblock %}
{% block content %}
<script>
$(document).ready(function(){
	$(document).scrollTop( $("div.navrow").offset().top );   
});
</script>
<div class="postView col-md-12">
<div class="row">
<span style="font-size: 25px;color: #F0AD4E;" class="glyphicon glyphicon-arrow-left pull-left"></span><input type="button" onclick="history.back();" name="submit" class="btn btn-warning pull-left btn-info" value="Go Back" />
<a href="{% url 'render_edit_post' post_type=post.post_type post_id=post.pk %}">
    <input type="button" class="btn btn-default pull-right btn-info" value="Edit/Delete Post" />
</a>
</div>
<!-- Button Row -->
<div class="row">
    <div class="title col-md-12">
    <div class="col-sm-7">
    <h3 class="title"><a href="/GetHired/company/{{post.company}}">{{post.company}}</a></h3>
</div>
<p class="date">Posted: {{post.date_posted}}</p>
</div>
</div><!-- Title Row -->
<div class="postBody col-md-12">
    <p class="location"><em> Location: {{post.location}}</em><p>
    <p class="job_title">Job Title: {{post.get_job_title_display}}</p>
    <p class="job_type">Job Type: {{post.get_job_type_display}}</p>
    <p class="applicant_degree">Applicant Degree: {{post.applicant_degree}}</p>
    
    {% if post.post_type == "Interview" %}   
    <p class="process">Details: {{post.interview_process}}</p>
    <p class="questions">Questions Asked: {{post.questions_asked}}</p>
    <p class="rating">Interview Rating:{{post.interview_rating}}</p>
    <p class="offer_status">Offer Status:{{post.get_offer_status_display}}</p>
    {% if post.offer_details %} <!--if offer received-->
    <p class="offer_details"><a href={{post.offer_details.url_slug}}>Offer</a></p>
    {% endif %}
    
    {% else %}

    <p class="pay_type">Pay Type: {{post.get_pay_type_display}}</p>
    <p class="salary"> Salary: {{post.salary}}</p>
    <p class="bonus"> Signing Bonus: {{post.signing_bonus}}</p>
    <p class="relocation">Relocation: {{post.relocation_bonus}}</p>
    <p class="status">Status: {{post.get_offer_status_display}}</p>
    {% if post.other_details %}
    <p class="details">{{post.other_details}}</p>
    {% endif %}

    {% endif %}
</div><!-- PostBody Div end -->
</div>
{% endblock %}


