{% extends "portal/base.html" %}
{% load extra_templates %}
{% load static %}
{% load humanize %}
{% block title %} Get Hired {% endblock %}
{% block header %} Get Hired {% endblock %}

{% block filter_menu %}
<div class="container-fluid">
<div class="row">
	<h5><span class='labs'>Related Posts:</span></h5>
	{% for post in related_posts %}
		<div class="col-md-12 related-post">
		<div class="row">
        <a class="postLinks" href="{% url 'get_post' post_type=post.post_type post_id=post.pk %}">{{post.company}} - {{post.post_type}}</a><br>
		</div>
		<div class="row related-post-location">
		{{post.location}}
		</div>
		</div>
	{% endfor %}
	</div>
</div>
{% endblock %}
    
{% block content %}
	<script>
		$(document).ready(function(){
			$(document).scrollTop( $("div.navrow").offset().top );   
		});
	</script>
<div class="postview col-md-12">
	<div class="container-fluid">
		<div class="postview-button-row row">
			<a href="{% url 'render_edit_post' post_type=post.post_type post_id=post.pk %}">
   			 <input type="button" class="btn btn-danger pull-right btn-info" value="Edit/Delete Post" />
			</a>
		</div> <!-- Button Row -->
	</div>
	<div class="container-fluid">
		<div class="row">
    		<div class="title col-md-12">
    			<div class="row">
    				<h3 class="title"><a href="/gethired/company/{{post.company|slugify}}">{{post.company}}</a></h3>
    				{% if post.post_type == "Interview" %}
                    <span class="postview-label label label-success">{{post.post_type}}</span>
               		{% else %}
                    <span class="postview-label label label-warning">{{post.post_type}}</span>
               		{% endif %}
    				<span class="date">Posted: {{post.date_posted|naturalday|title}}</span>
				</div>
				<div class="row postview-jobinfo">
					<div class="container-fluid">
						<div class="row">
							<span class="job_title lab">Job Title: <span class="content"><a class="norm" href="/gethired/filter/?company=ALL&location=ALL&job_title={{post.job_title}}&job_type=ALL">{{post.get_job_title_display}}</a></span></span>
						</div>
						<div class="row">
							<span class="job_type lab">Job Type: <span class="content"><a class="norm" href="/gethired/filter/?company=ALL&location=ALL&job_title=ALL&job_type={{post.job_type}}">{{post.get_job_type_display}}</a></span></span>
							 {% if post.post_type == "Interview" %}  
							<span class="rating lab">Interview Experience:<span class="stars"> {{post.interview_rating|rating|safe}}</span></span>
							{% endif %}
						</div>
						<div class="row postview-about-row">
							<div><img src="{% static "/static/images/gethired/map_location_test.png" %}"><span class="postview-location"><a href="/gethired/filter/?company=ALL&location={{post.location.state}}&job_title=ALL&job_type=ALL"><em>{{post.location}}</em></a></span></div>
							<div><img src="{% static "/static/images/gethired/grad_cap_test_g.png" %}"><span>{{post.applicant_degree|normdegree}}</span></div>
							<div><img src="{% static "/static/images/gethired/thumbs_up_test.png" %}"><span>{{post.get_offer_status_display}}</span></div>
						</div>
					</div>
				</div>
			</div>
		</div><!-- Title Row -->
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-12">
    				{% if post.post_type == "Interview" %}
    				<div class="row postview-interview-info-row">
    					<label>Date of Interview:</label>   
    					<p class="date-interviewed">{{post.date_interviewed}}</p>
    					<label>Details:</label>   
    					<p class="process">{{post.interview_process}}</p>
    					<label>Questions Asked:</label>   
    					<p class="questions">{{post.questions_asked}}</p>
    					{% if post.offer_details %} <!--if offer received-->
    					<p class="offer_details"><a href={{post.offer_details.url_slug}}>Offer</a></p>
    					{% endif %}
    				</div>
    				{% else %}
    				<div class="row postview-salary-block-row">
    					<div class="postview-salary-blocks">
    						<label>Salary:</label>
							<p class="salary"><span class="content">${{post.salary|intcomma}}{% if post.get_pay_type_display == "Yearly Salary" %}/yr{% endif %}</span></p>
						</div>
						<div class="postview-salary-blocks">
							<label>Signing Bonus:</label>
    						<p class="bonus"><span class="content">${{post.signing_bonus|intcomma}}</span></p>
    					</div>
    					<div class="postview-salary-blocks">
    						<label>Relocation:</label>
    						<p class="relocation"><span class="content">${{post.relocation_bonus|intcomma}}</span></p>
    					</div>
    				</div>
    				<div class="row postview-offer-info-row">
    					<label>Status:</label>
    					<p class="status">{{post.get_offer_status_display}}</p>
    					{% if post.other_details %}
    					<label>Details:</label>
    					<p class="details">{{post.other_details}}</p>
   		 			</div>
   		 			{% endif %}

   		 			{% endif %}
    			</div>
    		</div>
		</div>
		<div class="postview-report-rate row">
    		<div class="content">
    			<p>Report this post</p>
    		</div>
    	</div>
	</div>
</div>
{% endblock %}


