@CHARSET "ISO-8859-1";

body {
	overflow-x: hidden;
	background: url(../images/background.jpg) no-repeat center center fixed; 
}

div.main {
	background-color: #fbfafa;
	margin-top: 10px;
	margin-bottom: 10px;
	float:none;
	margin-left:auto;
	margin-right: auto;
	-webkit-box-shadow: 0px 0px 39px 9px rgba(112,111,112,1);
	-moz-box-shadow: 0px 0px 39px 9px rgba(112,111,112,1);
	box-shadow: 0px 0px 39px 9px rgba(112,111,112,1);
}

div.logorow {
	padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
}

div.post_bar {
	overflow-x: hidden;
	overflow-y: auto;
}

div.postBar {
	overflow-x: hidden;
	overflow-y: auto;
}

span.logo {
	color: #8C8C8C;
	font-family: 'Droid Serif', 'Arial', 'Helvetica', sans-serif;
	font-size: 35px;
	font-style: normal;
	font-weight: 400;
}

span.unc {
	color: #56a0d3;
}

span.logotag {
	color: #56a0d3;
	font-family: 'Roboto Condensed';
	font-size: 15px;
	font-style: italic;
}
div.navbar{
    text-align: center;
}
ul.navlist {
	list-style: none;
}

ul.navlist li {
    display: inline;
	list-style: none outside none;
	filter: inherit;
	width: auto;
	height: 10px;
	text-align: left;
}

span.glyphicon {
	font-size: 23px;
	padding-left: 4px;
}

ul.navlist li a {
	color: #8C8C8C;
	font-family: 'Anton', 'Arial', 'Helvetica', sans-serif;
	font-size: 24px;
	line-height: 20px;
	padding: 0px 15px 0px;
	text-decoration: none;
	text-transform: uppercase;
}

ul.navlist li a:hover {
	color: #56a0d3;
}

ul.navlist li a.current{
    color: #6d92ab;
}
div.info {
	background-color: #56a0d3;
	color: white;
	font-family: 'Roboto Condensed';
}

div.moreinfo {
	padding: 30px 30px;
	font-size: 14px;
}

div.buttondiv {
	border-bottom: thin solid #dbdbdb;
	padding-bottom: 10px
	margin-bottom: 15px;
}

.filterdiv {
    margin-top:9px;
}

a.postLinks {
	text-decoration: none;
    outline: none;
}

div.posts {
    padding: 10px 30px 30px 30px;
	border: thin solid #dbdbdb;
	margin: 10px;
	font-size: 15px;
	color: black;
	height: 200px;
	width: 99%;
	display: block;
}

div.posts:hover {
	background-color: #f5f5f5;
}

div.posts span.Title {
	font-size: 20px;
	float: left;
}

div.posts span.Date {
	float: right;
	color: black;
	font-size: 12px;
}

div.posts span.preview {
    color: #B2B2B2;
}

span.lab {
	color: black;
	font-size: 14px;
	font-weight: bold;
}

span.Tagline {
	float: left;
	color: black;
	font-size: 12px;
	padding: 15px 15px;
}

span.Course,span.Compensation {
	float: left;
	color: black;
	font-size: 12px;
	padding: 15px 15px;
}

div.filterdiv div.contain {
	margin: 10px;
}

div.filterdiv div.contain span.labs {
	font-weight: bold;
}

div.filterdiv div.contain input.btn {
	margin: 5px;
}

/* postView CSS */
div.postView {
	background-color: #f9f9f9;
	color: #737373;
	margin-top: 15px;
	margin-bottom: 15px;
	-webkit-box-shadow: inset 0px 0px 1px 1px rgba(209, 207, 209, 1);
	-moz-box-shadow: inset 0px 0px 1px 1px rgba(209, 207, 209, 1);
	box-shadow: inset 0px 0px 1px 1px rgba(209, 207, 209, 1);
	-webkit-box-shadow: 0px 0px 3px 2px rgba(200, 198, 198, 1);
	-moz-box-shadow: 0px 0px 3px 2px rgba(200, 198, 198, 1);
	box-shadow: 0px 0px 3px 2px rgba(200, 198, 198, 1);
}

div.postView div.row {
	margin: 10px;
}

h3.title {
	color: #56A0D3;
	float: left;
    font-family: 'Droid Serif';
}

h3.title span.label {
	font-size: 12px;
	vertical-align: middle;
}

div.title {
    
	-webkit-box-shadow: inset 0px 0px 1px 1px rgba(209, 207, 209, 1);
	-moz-box-shadow: inset 0px 0px 1px 1px rgba(209, 207, 209, 1);
	box-shadow: inset 0px 0px 1px 1px rgba(209, 207, 209, 1);
}

div.postBody{
    font-family: 'Roboto Condensed';
}

div.title p {
	float: right;
	clear: right;
	font-size: 12px;
	padding-top: 5px;
}

/*New Post CSS*/
div.newform h2{
    font-family: 'Roboto Condensed';
    color: #56A0D3;
}

div.newform{
    color: #417ba3;
    font-family: 'Roboto Condensed';
}

ul.errorlist{
    color: red;
    font-weight: bold;
    list-style: none;
}

div.pass{
    text-align: center;
}

div.pass input{
    margin: auto;
}

div.pass label {
     color: #417ba3;
     font-family: 'Roboto Condensed';
     padding: 10px;
}
