<div class="container">
<form class="form-horizontal" id=pass_form method="post" action="" style="margin: 20px;">
<span style="display: none;">{{post}}</span>
	<div class="form-group">
	<label for="password" class="control-label">Please type the appropriate password for the post: </label>
		<input class="form-control" type="password" name="Password" style="width: 50%;"></input>
	</div>
	<input type="button" onclick="call_checkPass();" name="submit" class="btn btn-default" value="Submit" />
</form>
</div>