{% for post in post %}
<div class="container">
<h3 id="title">{{post.Title}}<input type="button" onclick="call_passView();" name="submit" class="btn btn-default pull-right" value="Edit Post" /></h3>
<h5>ID: <span id="id">{{post.pk}}</span></h5>
<ul>
	<li id="name">{{post.Fname}} {{post.Lname}}</li>
	<li id="email">{{post.Email}}</li>
	<li id="course">{{post.Course}}</li>
	<li id="description">{{post.Description}}</li>
	<li id="compensation">{{post.Compensation}}</li>
	<li id="seeking">{{post.SeekingorOffering}}</li>
</ul>
</div>
{% endfor %}
