{% extends "portal/base.html" %}
{% block addstyles %}<link rel="stylesheet" href="/static/css/gethired.css">{% endblock%}
{% load humanize %}
{% block title %} Add/Edit Post {% endblock %}
{% block header %} Get Hired {% endblock %}
{% block content %}
<script>
    /* autocomplete for companie on form */
    $(document).ready(function() {
        $.ajax({
            url: 'http://localhost:8000/gethired/post/list/company/',
            success:function(data) {
                
                $('#company_field input').autocomplete({
                    source:data
                });            
            }
        });
        
        
    	var pre_preselected_value = $('select#id_offer_status option:selected').val();
    	if(pre_preselected_value == 'RC'){
    		$('div.select-offer-div').show();
    	} else{
    		$('div.select-offer-div').hide();
    		 $('select#id_offer_details').val("");
    	}
    	
        $('select#id_offer_status').change(function(){
        	var selected_value = $('select#id_offer_status option:selected').val();
        	if(selected_value == 'RC'){
        		$('div.select-offer-div').show();
        	} else{
        		$('div.select-offer-div').hide();
        		 $('select#id_offer_details').val("");
        	}
        });
        
    });
</script>
<div class="newform col-md-8 col-md-offset-2">
{% if user.username == author.username or not author %}
	<div class="row"><a style="margin: 10px;" href="/gethired/" class="btn pull-left btn-info btn-go-back">Cancel</a><h2>{{header}}Interview</h2></div>
	<p class="required"><span class="required">* </span>Required Fields</p>
		<div class="new-interview-form">
			<form class="form-horizontal" id="post_form" method="post" action="/gethired/post/new/{{post_type}}/{{post_id}}/">	
				{% csrf_token %}
					<div class="container-fluid">
						<div class="row">
							<div class="new-company-info col-md-6">
								<div class="form-group">
        							<label for="id_name" class="control-label col-md-12"><span class="required">* </span>Company: </label>
                                    {{company_form.name.errors}}
        							<div class="col-md-12" id="company_field">
    								    {{company_form.name}}
        							</div>
								</div>
								<div class="form-group">
        							<label for="id_country" class="control-label col-md-12"><span class="required">* </span>Country: </label>
        								{{location_form.country.errors}}
        								<div class="col-md-12">
        									{{location_form.country}}
										</div>
								</div>
								<div class="form-group">
        							<label for="id_state" class="control-label col-md-12"><span class="required">* </span>State: </label>
        								{{location_form.state.errors}}
        								<div class="col-md-12">
 											{{location_form.state}}
        								</div>
								</div>
								<div class="form-group">
        							<label for="id_city" class="control-label col-md-12"><span class="required">* </span>City: </label>
        								{{location_form.city.errors}}
        								<div class="col-md-12">
       										{{location_form.city}}
        								</div>
								</div>
								<div class="form-group">
        							<label for="id_job_title" class="control-label col-md-12"><span class="required">* </span>Job Title: </label>
        							{{ form.job_title.errors }}
        							<div class="col-md-12">
       								{{ form.job_title}}
        							</div>
								</div>
							</div><!-- New Company Info Div End -->
							<div class="new-interview-other-info col-md-6">

								<div class="form-group">
       								<label for="id_job_type" class="control-label col-md-12"><span class="required">* </span>Job Type: </label>
       								{{form.job_type.errors}}
       								<div class="col-md-12">
       								{{ form.job_type }}
        							</div>
								</div>
								<div class="form-group">
        							<label class="control-label col-md-12" for="id_applicant_degree"><span class="required">* </span>Minimum Required Degree: </label>
         							{{ form.applicant_degree.errors}}
        							<div class="col-md-12">
        							{{ form.applicant_degree }}
        							</div>
								</div>
							</div><!-- Other Div End -->
						</div> <!-- Company Info Row End -->
					</div><!-- End of Company Info Container -->
				<div class="container-fluid">
					<div class="row">
						<div class="col-md-12 new-interview-input">
							<div class="form-group col-md-12">
        						<label for="id_interview_process" class="control-label col-md-12"><span class="required">* </span>Job Description: </label>
        						{{form.job_description.errors}}
        						<div class="col-md-12">
        						{{form.job_description}}
        						</div>
							</div>
							<div class="form-group col-md-12">
        						<label for="id_questions_asked" class="control-label col-md-12"><span class="required">* </span>Application Instructions: </label>
        						{{ form.applicaton_instructions.errors }}
        						<div class="col-md-12">
        						{{ form.application_instructions}}
        						</div>
							</div>
						</div><!-- Interview Input Div End -->
					</div><!-- Input Row End -->
				</div><!-- Input Row Container -->
    			<div class="form-group col-md-12" style="text-align: center;">
        			<button type="submit" class="btn btn-default">Submit</button>
        			<a style="margin: 10px;" href="/gethired/" class="btn btn-default">Cancel</a>
    			</div>
			</form>
		</div>
{% endif %}
{% if user.username != author.username and author %}
<p class="alert alert-danger" style="text-align: center; margin: 100px;">Sorry, we apologize for the inconvenience, it seems you must have ended up here by accident.</p>
{% endif %}
</div><!-- End new form Div -->
{% endblock %}
